@import url(base/vars.css);
@import url(base/base.css);
@import url(cmps/user-msg.css);
@import url(cmps/locs.css);
@import url(cmps/selected-loc.css);
@import url(cmps/modal.css);
@import url(cmps/footer.css);
@import url(base/mq.css);

main {
    height: calc(100vh - 140px);
}

.map {
    width: 100%;
    height: calc(100vh - 140px);
    box-shadow: var(--shadow-lg);
}

