footer {
    background: linear-gradient(135deg, var(--bg3), var(--bg2));
    color: var(--gray1);
    text-align: center;
    padding: 0.75rem 1rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    
    & p { margin: 0; }
}
