/* Media Queries */

@media (min-width: 750px) {
    main {
        display: flex;
        flex-direction: row-reverse;
    }
    
    .locs-container {
        width: 30vw;
        min-width: 350px;
        max-width: 450px;
        height: 100%;
    }
    
    .map {
        flex: 1;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .locs-container {
        width: 25vw;
    }
}
