/* :root {
    --bg1: #483d8b;
    --bg2: #9932cc;
    --bg3: #8b008b;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
:root {
    --bg1: #250dc3;
    --bg2: #1a6e92;
    --bg3: #0931e2;
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
}